<div class="container-mt-3">
    <form #addInventoryForm="ngForm" (ngSubmit)="addInventoryItem()" autocomplete="off">
        <h2 class="text-center text-primary">Add a New Inventory Item</h2>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="category">Product Category</label>
                    <select 
                        name="category" 
                        class="form-control" 
                        [(ngModel)]="inventoryRow.productCategoryId"
                        [ngModelOptions]="{standalone: true}"
                    >
                        <option disabled>Choose Product Category</option>
                        <option *ngFor="let pc of categoryRows" value={{pc.productCategoryId}} >{{pc.category}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="agerange">Age Range</label>
                    <select
                        name="agerange"
                        class="form-control"
                        [(ngModel)]="inventoryRow.ageRange"
                        [ngModelOptions]="{standalone: true}">
                        <option disabled>Choose Age Range</option>
                        <option value="2 - 4">2 - 4</option>
                        <option value="5 - 9">5 - 9</option>
                        <option value="10 - 14">10 - 14</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select
                        name="gender"
                        class="form-control"
                        [(ngModel)]="inventoryRow.gender"
                        [ngModelOptions]="{standalone: true}">
                        <option disabled>Choose Gender</option>
                        <option value="Boys">Boys</option>
                        <option value="Girls">Girls</option>
                        <option value="Either">Either</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="item">Item Name</label>
                    <input
                        id="item"
                        type="text"
                        class="form-control"
                        name="item"
                        [(ngModel)]="inventoryRow.item"
                        [ngModelOptions]="{standalone: true}"
                        required
                        #item="ngModel"
                    />
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="desc">Item Description</label>
                    <input
                        id="desc"
                        type="text"
                        class="form-control"
                        name="desc"
                        [(ngModel)]="inventoryRow.itemDescription"
                        [ngModelOptions]="{standalone: true}"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="cnt">Item Count</label>
                    <input
                        id="cnt"
                        type="number"
                        step="1"
                        min="0"
                        class="form-control"
                        [(ngModel)]="inventoryRow.itemCount"
                        [ngModelOptions]="{standalone: true}"
                        name="cnt"
                        required
                        #cnt="ngModel"
                    />
                </div>
            </div>            
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="price">Item Price</label>
                    <input
                        id="price"
                        type="number"
                        step="any"
                        min="0.00"
                        class="form-control"
                        [(ngModel)]="inventoryRow.itemPrice"
                        [ngModelOptions]="{standalone: true}"
                        required
                        #price="ngModel"
                    />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="best">Best Price Paid</label>
                    <input
                        id="best"
                        type="number"
                        step="any"
                        min="0.00"
                        class="form-control"
                        [(ngModel)]="inventoryRow.bestPrice"
                        [ngModelOptions]="{standalone: true}"
                        name="best"
                        #best="ngModel"
                    />
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="date">Last Purchased Date</label>
                    <input
                        id="date"
                        type="date"
                        class="form-control"
                        [(ngModel)]="inventoryRow.lastPurchasedDate"
                        [ngModelOptions]="{standalone: true}"
                        name="last"
                        #date="ngModel"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="notes">Item Notes</label>
                    <textarea
                        id="notes"
                        name="notes"
                        wrap="soft"
                        cols="128.75"
                        [(ngModel)]="inventoryRow.notes"
                        [ngModelOptions]="{standalone: true}"
                    ></textarea>
                </div>
            </div>
        </div>

        <div class="form-group text-center">
            <button 
                type="submit" 
                pButton 
                pRipple
                label="Add"
                class="p-button-success p-button p-button-rounded p-px-6"
                icon="pi pi-plus-circle" 
                iconPos="right">
            </button>
            <button
                type="button"
                pButton
                pRipple
                label="Cancel"
                class="p-button-info p-button p-button-rounded p-px-6"
                icon="pi pi-times-circle"
                iconPos="right"
                (click)="cancel()">
            </button>
        </div>    
    </form>
</div>
    


     



