<form #addCategoryForm="ngForm" (ngSubmit)="addCategory()" autocomplete="off">
    <h2 class="text-center text-primary">Add a New Product Category</h2>
    <hr>
    <div class="form-group">
        <input 
            id="category"
            type="text" 
            class="form-control" 
            name="category" 
            [(ngModel)]="model.category" 
            placeholder="Category"
            required
            #category="ngModel"
        >
    </div>

    <div *ngIf="category.invalid && (category.dirty || category.touched)">
        <div *ngIf="category.errors.required"  class="alert alert-danger">
            The new category is required.
        </div>
    </div>

    <div class="form-group text-center">
        <button 
                type="submit" 
                pButton 
                pRipple
                label="Add"
                style="width:8rem"
                class="p-button-success p-button p-px-6"
                icon="pi pi-plus-circle" 
                iconPos="left">
            </button>
            <button
                type="button"
                pButton
                pRipple
                label="Cancel"
                style="width:8rem"
                class="p-button-info p-button p-px-6"
                icon="pi pi-times-circle"
                iconPos="left"
                (click)="cancel()">
            </button>
    </div>
</form>

