.dashboard-card {
    position      : absolute;
    top           : 5px;
    left          : 5px;
    right         : 5px;
    bottom        : 5px;
    display       : flex;
    flex-direction: column;
  }
  
  .itemCount-text {
    margin: 0;
    margin-top: 15px;
    font-size:smaller;
    text-align: center;
  }

  .avgPricePaid-text {
    margin: 0;
    margin-top: 5px;
    font-size: smaller;
    text-align: center;
  }

  .card-header {
    justify-content: center;
  }

  .subtitle-text {
    font-size:medium;
    font-weight: bold;
    text-align: center;
    color: blue;
    margin-top: 1px;
    margin-bottom: 1px;
  }
