<mat-card class="dashboard-card">
    <mat-card-header class="card-header">
      <!-- <mat-card-header class="title-text">
        <h6>Gender: {{gender}} </h6>
      </mat-card-header> -->
      <mat-card-subtitle class="subtitle-text">Gender: {{gender}}</mat-card-subtitle>
      <mat-card-subtitle class="subtitle-text">Age: {{ageRange}}</mat-card-subtitle>
    </mat-card-header>
    <h6 class="itemCount-text">Total Items: {{itemCount}}</h6>
    <h6 class="avgPricePaid-text">Average Price Paid: {{avgPricePaid | currency:'$'}}</h6>
  </mat-card>
