<div class="container mt-5">
    <div *ngIf="!addCategoryMode" style='text-align: center;'>
        <div class="text-center">
            <button class="btn btn-primary btn-lg mr-2" (click)="addCategoryToggle()" >Add Category</button>
            <button class="btn btn-info btn-lg" (click)="cancel()">Cancel</button>
        </div>
        <br>
        <hr>
        <div class="container mt-3">
            <h4 class="lead">Product Categories</h4>
            <p-table [value]="productCategories" styleClass="p-datatable-sm p-datatable-striped"
                [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5,10,20,50,100]">
                <!-- <ng-template pTemplate="header">
                    <tr>
                        <th>Category</th>
                    </tr>
                </ng-template> -->
                <ng-template pTemplate="body" let-productCategory>
                    <tr>
                        <td>{{productCategory.category}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <!-- <ul style="list-style-type: none; text-align: left;">
                <li *ngFor="let category of categories">{{category.productCategoryId}} - {{category.category}}</li>
            </ul> -->
        </div>
    </div>

    <div *ngIf="addCategoryMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-add-product-category 
                    (cancelAddCategory)="cancelAddCategoryMode($event)"
                >
                </app-add-product-category>
            </div>
        </div>
    </div>
</div>

