<div class="container mt-5">
    <div *ngIf="!registerMode" style='text-align: center;'>
        <img src="../../assets/images/occ.jpg" alt="occ" width="400" height="450">
        <p class="lead">Register your account</p>
        <div class="text-center">
            <button
                type="button"
                pButton
                pRipple
                label="Register"
                style="width:10rem"
                class="p-button-success p-button p-button-rounded p-mx-2"
                icon="pi pi-user-plus"
                iconPos="left"
                (click)="registerToggle()">
            </button>
            <button
                type="button"
                pButton
                pRipple
                label="Learn More"
                style="width:10rem"
                class="p-button-info p-button p-button-rounded p-mx-2"
                icon="pi pi-info-circle"
                iconPos="left">
            </button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>
